.App {
  text-align: center;
  color: black;
  border: 5px double black;
  margin: 40px;

  
}

.item
{
  color: black;
  background-color: yellow;
  text-align: left;
  font-size: calc(15px);
  border: 5px ridge grey;
  margin: 3px;
  width: 570px;
  font-family: Arial;
}


.address {
  font-size: calc(20px);
  width: 600px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

.buttonAdd {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
}


.buttonRemove {
  background-color: #FA8072;
  border-radius: 12px;
}

.slider {
	 height: 100px;
     width: 300px;
  
}

.buttonSubmit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  transition: opacity 300ms ease-in;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
